# =============== #
# Unity generated #
# =============== #
CatVsDog_Unity/Temp/
CatVsDog_Unity/Obj/
CatVsDog_Unity/Build/
CatVsDog_Unity/Builds/
CatVsDog_Unity/UnityGenerated/
CatVsDog_Unity/Library/EditorInstance.json
CatVsDog_Unity/Library/assetDatabase3
CatVsDog_Unity/Library/CurrentLayout.dwlt
CatVsDog_Unity/Library/CurrentMaximizeLayout.dwlt
CatVsDog_Unity/Library/LastSceneManagerSetup.txt
CatVsDog_Unity/Library/InspectorExpandedItems.asset
CatVsDog_Unity/Library/shadercompiler-UnityShaderCompiler.exe0.log
CatVsDog_Unity/Library/ShaderCache.db
CatVsDog_Unity/Library/cache/
CatVsDog_Unity/Library/metadata/
CatVsDog_Unity/Library/obj/Debug/
CatVsDog_Unity/Library/ScriptAssemblies
CatVsDog_Unity/Library/ShaderCache/
CatVsDog_Unity/Assets/AssetStoreTools*

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.log
